
.ventanilla {
  background-color: #99212B;
  background-image: url(../../Imagenes/charcuteria1.svg);
  background-position: center center;
  display: flex;
  flex-direction: row;
  padding: 40px;
  justify-content: center;
}
@media screen and (max-width: 650px) {
  .ventanilla {
    padding: 15px;
  }
}
.ventanilla .cuadroventa {
  background-color: rgba(34, 34, 34, 0.7);
  width: 94%;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "descripcion foto" "precio foto";
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}
@media screen and (max-width: 1056px) {
  .ventanilla .cuadroventa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.ventanilla .cuadroventa .fotoproducto {
  grid-area: foto;
}
.ventanilla .cuadroventa .fotoproducto .carrus {
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 650px) {
  .ventanilla .cuadroventa .fotoproducto .carrus {
    padding-left: 35px;
    padding-right: 35px;
  }
}
.ventanilla .cuadroventa .fotoproducto img {
  border-radius: 30px;
}


.ventanilla .cuadroventa .descproducto {
  grid-area: descripcion;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
.ventanilla .cuadroventa .descproducto h2 {
  color: #910000;
  font-family: "AdventPro";
  font-size: 70px;
  letter-spacing: 4px;
}
@media screen and (max-width: 650px) {
  .ventanilla .cuadroventa .descproducto h2 {
    font-size: 55px;
  }
}
.ventanilla .cuadroventa .descproducto h4 {
  font-family: "OswaldR";
  color: #828282;
  font-size: 30px;
}
@media screen and (max-width: 650px) {
  .ventanilla .cuadroventa .descproducto h4 {
    font-size: 25px;
  }
}
.ventanilla .cuadroventa .descproducto hr {
  border-style: solid;
  border-color: #9B3232;
  opacity: 90%;
  border-width: 2px;
  width: 100%;
}
.ventanilla .cuadroventa .descproducto p {
  color: white;
  font-size: 22px;
  font-family: "OswaldR";
  width: 80%;
}
@media screen and (max-width: 650px) {
  .ventanilla .cuadroventa .descproducto p {
    font-size: 18px;
  }
}
.ventanilla .cuadroventa .descproducto .indicacion {
  font-size: 18px;
}
@media screen and (max-width: 650px) {
  .ventanilla .cuadroventa .descproducto .indicacion {
    font-size: 12px;
  }
}

.cuentame {
grid-area: precio;
padding: 30px;
}