.cuadroContador {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 95%;
    border-radius: 15px;
    
}

.precioContador {
    color: white;
    display: flex;
    font-size: 50px;
    justify-content: flex-end;
    font-family: "AdventPro";
    font-weight: bold;
    
}

.gramosContador {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    text-align: end;
    justify-content: flex-end;
    font-family: "AdventProExtralight";
    white-space: pre-line;


}

.botonesContador {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-around;
}

.botonMenos {
    background-color: #99212b;
    width: 45%;
    color: white;
    font-family: "AdventPro";
    font-size: 30px;
    border-radius: 15px;
}

.botonMas {
    background-color: #99212b;
    width: 45%;
    color: white;
    font-family: "AdventPro";
    font-size: 30px;
    border-radius: 15px;
}

.botonAgregar {
    background-color: #99212b;
    width: 95%;
    color: white;
    font-family: "Oswald";
    font-size: 25px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    transition: transform 0.2s, background-color 0.2s;
}

.botonAgregar:active {
    transform: translateY(2px); /* Empuja el botón hacia abajo */
    background-color: #333; /* Cambia el color de fondo cuando se presiona */
  }


  :root {
    --toastify-color-progress-info: #ff9900; /* Cambia el color de la barra de progreso de información a naranja */
  }